# Tajne
.env

# Python
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Generisani podaci i indeksi
data/processed/*
!data/processed/.gitkeep
qdrant_data/


# Keš modela
.cache/
models/

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
